@model IEnumerable<Bodega.Models.ProductosModel>

@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Lista de Productos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Nuevo Producto</a>
</p>
<table class="table table-bordered table-responsive table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegSanitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoBarras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegSanitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarras)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn btn-outline-info"  asp-action="Details" asp-route-id="@item.Id">Detalles</a> 
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
