@model IEnumerable<Bodega.Models.ProveedorModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RUCEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoContacto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUCEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoContacto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
